.img1{
    display: flex;
    flex-wrap: wrap;
  }
  
  .img2 {
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .img2 img {
    width: 100%;
    height: auto;
  }
  button{
  
    color: black;
    background-color: red;
  }